body {
    margin-left: 20px;
}
h1, h2, h3 {
    margin-top: 0;
}
p {
    margin: 0 0 0.1em;
}
.panel {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 1em;
    width: 20em;
    margin-bottom: 5px;
    min-height: 5em;
    text-overflow: clip;
    box-sizing: border-box;
    clear: left;
}
.panel-heading {
    background-image: inherit;
    border-radius: 1em 1em 0 0;
    border-bottom: 1px solid black;
    padding: 1px 10px;
    /*text-indent: 0.5em;*/
}
.panel-body {
    padding: 0;
    margin: 0.5em;
}
input.switch, input.switch-reply {
    display: none;
}
.inline-form {
    display: inline;
}
.sidebar {
    display: inline-block;
    float: left;
    width: 10em;
    min-height: 10em;
    background-color: #fafaf7;
    padding: 0px 10px 10px 10px;
}
li.link {
    display: flex;
    line-height: 1.2;
}
li.link form {
    flex-grow: 1;
    line-height: 0.8;
}
.main {
    display: inline-block;
    float: left;
}
.unbutton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.reply-button-wrapper {
    float: right;
}
.reply-button {
    float: right;
    border: 1px solid grey;
    width: 2em;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
label {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    font-weight: inherit;
}
textarea, form, label {
    width: 100%;
}
.close-button, .save-button {
    float: right;
}

.panel-reply {
    display: none;
    float: left;
    margin-top: 5px;
    margin-left: 1em;
    width: 19em;
}

input.switch ~ label .panel1 {
    display: block;
}
input.switch ~ label .panel2 {
    display: none;
}
input.switch:checked ~ label .panel1 {
    display: none;
}
input.switch:checked ~ label .panel2 {
    display: block;
}

input.switch-reply:checked ~ .panel-reply {
    display: block;
}
